NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
BASE_URL=http://localhost:3000
PORT=3000

# Database
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_HOST=host
DB_PORT=5432
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
JWT_EXPIRES_IN=10m

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Apple OAuth
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_CALLBACK_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=