NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
BASE_URL=http://localhost:3000
PORT=3000

# Database
DB_USER=user
DB_PASSWORD=password
DB_NAME=database
DB_HOST=host
DB_PORT=5432
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"

# Redis
REDIS_URL=redis://localhost:6379
